<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
</head>
<body>
  <h1 class="text-center">Facebook like App</h1>

  
  <div class="card col-2 m-2">
    <h4 class="p-2">Add post</h4>
    <div class="mx-5">
      <p>Autore:</p>
      <input type="text" #addAutore id="autore">
    </div>
    <div class="mx-5">
      <p>Testo:</p>
      <input type="text" #addTesto id="testo">
    </div>
    <button type="button" class="btn btn-primary m-3" style="height: 40px;">Send</button>
    <br>
  </div>
</body>
</html>